a:hover,
a:active {
    color: lightskyblue;
}

.grid {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.cardMedia {
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 130px;
    height: 130px;
}

.cardContent {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.pokemonDetails {
    height: 300px;
    width: auto;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    height: 90%
}

.blur {
    background: rgba(255, 255, 255, 0.005);
    backdrop-filter: blur(1px);
    height: auto;
    width: 100%;
    content-visibility: auto;
}

.navLink {
    text-decoration: none;
}

.searchBox {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchContainer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchIcon {
    align-self: flex-end;
    margin-bottom: 5px;
}

.searchInput {
    width: 300px !important;
    margin: 225px;
}

.toolbar {
    padding: 15px;
    background-color: #e53d3d;
}

.pokemonTagContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background: rgba(255, 255, 255, 0.7);*/
    padding-top: 7px;
    margin-top: 20px;
    border-radius: 2px;
    padding-bottom: 7px;
}

.pokemonId {
    margin-right: 5px;
    margin-left: 2px;
}

.pokemonId, .pokemonName {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat' ,sans-serif;
    /*color: #293942;*/
    color: black;
}
