a:hover,
a:active {
    color: lightskyblue;
}

.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrowSize {
    transform: scale(1.1);
}


.avatarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.evolutionHeader {
    font-family: 'MedievalSharp', cursive !important;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.evolutionContainer {
    margin-top: 35px;
}
.flavorText {
    font-size: 20px;
    font-family: 'MedievalSharp', cursive !important;
    margin: 20px !important;
}

.grid {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.cardMedia {
    margin: auto;
    width: 130px;
    height: 130px;
}

.cardContent {
    font-family: Helvetica, sans-serif;
    text-align: center;
}


.paper {
    background-color: #FAF7F1 !important;
    flex-shrink: 3; /* default 1 */
}

.pokemonNumber {
    color: #616161;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pokemonName {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.pokemonDetails {
    height: 300px;
    width: auto;
}

.pokemonHeader {
    margin: 20px !important;
}

.profileHeader {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.statsSection {
    width: 100%
}

.tag {
    margin: 7px;
    padding: 10px !important;;
    border-radius: 5px !important;
    text-transform: uppercase;
}

.typesHeader {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}