a:hover,
a:active {
    color: lightskyblue;
}

.avatarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.evolutionHeader {
    font-family: 'MedievalSharp', cursive !important;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.evolutionContainer {
    margin-top: 35px;
}

.grid {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.cardMedia {
    margin: auto;
    width: 130px;
    height: 130px;
}

.cardContent {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.movesSection {
    margin-top: 10px;
}

.movesListContainer {
    align-items: center;
    max-height: 383px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.movesListItem {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px !important;
    text-transform: uppercase;
}

.profileHeader {
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.statsItems {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 16px !important; /* MUI seems to always be overriding classes need in investigate */
    text-transform: uppercase;
}

.statsSection {
    width: 100%
}
