.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrowSize {
    transform: scale(1.1);
}

.evolutionHeader {
    font-family: 'MedievalSharp', cursive !important;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.paper {
    background-color: #FAF7F1 !important;
    flex-shrink: 3; /* default 1 */
}
